NEXT_PUBLIC_AWS_REGION=ap-southeast-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=
NEXT_PUBLIC_COGNITO_IDENTITY_POOL_ID=
NEXT_PUBLIC_COGNITO_DOMAIN=
NEXT_PUBLIC_CHATS_TABLE=copilot_chats
NEXT_PUBLIC_USERDATA_BUCKET=copilot-g4-cos30018-userdata
NEXT_PUBLIC_API_TARGET=http://100.71.161.102:8000
